.cover__container {
  text-decoration: none;
  color: white;
  display: block;
  padding: 33px 16px;
  background-color: rgba(42, 44, 47, 0.3);
  width: 100%;
  box-sizing: border-box;
}


@media screen and (min-width: 768px) {
  .cover__container {
    padding: 175px 85px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__container {
    padding: 196px 210px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__container {
    padding: 240px 280px;
  }

  .cover__container:hover {
    background-color: rgba(42, 44, 47, 0.8);
  }
}
