.lead__image {
  background-image: url('../../../images/mobile/lead-polka_mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  width: 100%;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .lead__image {
    background-image: url('../../../images/lead-polka.jpg');
    max-height: 480px;
    margin: 56px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .lead__image {
    max-height: 580px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    max-height: 615px;
    margin-top: 65px;
  }
}