.cover {
  background-image: url('../../images/mobile/cover-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 66px;
  display: flex;

}

@media screen and (min-width: 768px) {
  .cover {
    background-image: url('../../images/cover-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: 90%;
    margin: 92px auto 0;
    background-image: url('../../images/cover-background_max.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}