.footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 64px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 94%;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 91%;
    padding-top: 92px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    width: 1190px;
  }
}
