.photo-grid__image {
  max-width: 100%;
  
}

@media screen and (min-width: 1024px) {
  .photo-grid__image {
    max-height: 224px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid__image {
    max-height: 213px;
  }
}